@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.50;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

/* POP OUT */
nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    /* calc function in CSS */
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
}

.hero:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 6px;
    background-color: rgb(76, 69, 69);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: medium;
    color: white;
    background-color: rgba(248, 243, 243, 0.129);
    font-size: medium;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.647);
    cursor: pointer;
}
*{
    padding: 1px 0;
}

.btn-red-sm {
    background-color: red;
    color: white;
    font-size: medium;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.649);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 17.5px;
    border-radius: 5px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    font-weight: 700;
    color: white;
    padding: 5px 30px;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(192, 182, 182, 0.7);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;  
}
section.first > div :nth-child(2){
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 40px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faqbox:hover{
background-color: rgb(98, 90, 90)
}
.faqbox svg{
filter: invert(1);
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 24px;
    background-color: #2d2d2d;
    max-width: 60vw;
    margin: 30px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer a{
    font-size: 14px;
    color: white;

}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}